*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.super-container {
  position: relative;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-left: 2vw solid #4EC5E6; 
  border-right: 2vw solid #4EC5E6; 
  min-height: 90vh;
  padding: 20px;
  padding-bottom: 9rem;
  padding-top: 4rem
}

/* List items */

ul li {
  list-style-type: none;
  display: inline;
}

/* Anchor links */

a:link, a:visited, a:hover {
  text-decoration: none;
}

.nav a:link {
  color: black;
}

.footer a:link {
  color: white;
}

/* Navbar */

.nav {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

.nav-left {
  display: inherit;
  justify-content: space-between;
}

.nav-right {
  display: inherit;
  justify-content: space-between;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  height: 8rem;
  width: 100%;
  font-size: 1.1rem;
  padding: 60px 20px 20px 20px;
  background-color: #3D99B3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

/* Sidebar */

.drawerTop {
  padding: 15px;
  background-color: rgba(78, 197, 230, 0.20);
}

/* About */

h1 {
  text-align: center;
}

/* Edit Organisation */

.curved-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 197, 230, 0.20);
  border-radius: 15px;
  padding: 20px;
}

/* Sign Up */

.curved-container.with-logo {
  position: relative;
  margin-top: 10vh;
  padding-top: 10vh;
}

.curved-container .logo {
  position: absolute;
  left: 50%;
  top: -10vh;
  transform: translate(-50%);
}
